main{
    width: 80%;
    margin: auto;
}
.titulo{
    text-align: center;
    margin-bottom: 50px;
}
.titulo h2{
    font-size: 3vw;
}
.titulo p{
    margin: auto;
    font-size: 1vw;
    color: rgb(77, 77, 77);
    width: 40%;
}
section{
    margin: 30px;
}
.texto{
    position: absolute;
    margin-top: -29vw;
    margin-left: 30vw;
    vertical-align: middle;
    background-color: #85B7ED;
    width: 500px;
    padding: 50px;
    font-size: 1vw;
    height: 200px;
}
#tiete{
    margin-top: -33vw !important;
    height: 300px !important;
}
article h3{
    font-size: 2vw;
    margin-top: -10px;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}
article p{
    color: rgb(66, 66, 66);
}
section img{
    width: 600px;
    object-fit: cover;
    height: 500px;
}
.bt{
    text-align: left;
    margin-top: 10px;
    width: 150px;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    background-color: #182634;
    border: 0;
    font-size: 0.8vw;
    text-transform: uppercase;
    color: white;
}
